<%= render 'shared/page_title', title: "edit an existing recipe" %>

<%= render 'form' %>

<div class="center dark-link">
  [ <%= link_to "Cancel request and go back to recipes listing", recipes_path %> ]
</div>