#logo {
  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color:#fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
}

.jumbotron h1, .jumbotron h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-xlarge {
  // background-color: #212529;
  // border: #212529;
}
.btn-xlarge:hover {
  // background-color: lighten( #212529, 10% );
}

.footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  
}
body > .container {
  min-height: 70%;
  min-height: calc(100vh - 13.875rem) ;
}