
<footer class="footer bg-dark">
  <div class= "container">
    <p>MyRecipies built by <a href="https://www.udemy.com/">Udemy</a>.</p>
    <p>
      <a class="" href="#">Back to top</a>
    </p>
  </div>
</footer>